html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
      box-sizing: border-box;
}

#navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    background-color: #333;
    padding: 20px;
    border-sizing: border-box;
}

#navbar header{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

#navbar a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: blue;
    font-size: 16px;
}

#navbar a:hover{
    background-color:#899088;
    color: brown;
}

#main-doc{
    margin-left: 270px;
    padding: 20px;
    background-color: white;
}

.main-section{
    margin-bottom: 40px;
}

header{
    font-size: 24px;
    margin-bottom: 24px;
    color: #0073e6;
    font-weight: bold;
}

p{
    margin: 10px 0;
}

pre{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 3px;
    overflox-x: auto;
}

code{
    background-color: #e6e6e6;
    padding: 2px 4px;
    border-radius: 3px;
    margin: 10px 0;
    border-left: 3px solid #007376;
}

ul{
    margin: 10px 0;
    padding-left: 20px;
}

ul li{
    margin: 5px 0;
}

footer{
    margin: 20px 0;
    text-align: center;
}

img{
    max-width: 100%;
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
    float: left;
    border-radius: 3px;
}

@media(max-wiidth:800px){
    #navbar{
        width: 100px;
        height: auto;
        position: relative;
    }
    #main-doc{
        margin-left: 0;
    }
    #navbar a{
        padding: 15px;
    }
}